<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Video Streaming Demonstration</h1>
      <img src="{{ url_for('video_feed') }}" id="bg">
  </body>
</html>
